@model HubHumano.Models.empleado

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalles de empleado:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Codigo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Apellido:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            Telefono:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            Fecha de ingreso:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ingreso)
        </dd>

        <dt>
            Salario:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salario)
        </dd>

        <dt>
            Estatus:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            Cargo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo1.cargo1)
        </dd>

        <dt>
            Codigo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento1.codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
